body {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.image-container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 39px;
}

.centered-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.paragraph {
    text-align: center;
    padding: 5px;
}

.extra_text {
    text-align: center;
    padding: 20px;
    font-family: sans-serif;
    font-size: 48px;
    text-transform: uppercase;
    animation: rainbow 5s infinite;
}

@keyframes rainbow {
    0% {
      color: red;
    }
    14.28% {
      color: orange;
    }
    28.57% {
      color: yellow;
    }
    42.85% {
      color: green;
    }
    57.14% {
      color: blue;
    }
    71.42% {
      color: indigo;
    }
    85.71% {
      color: violet;
    }
    100% {
      color: red;
    }
  }